<html>
<head>
<title>lecturer.cook.test.stories.repeatsession</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
 
<script type="syntaxhighlighter" class="brush: xml"><![CDATA[
<story path="lecturer/cook/test/stories/repeatsession.story" title="">
<narrative keyword="Narrative:">
  <inOrderTo keyword="In order to">repeat a session</inOrderTo>
  <asA keyword="As a">Lecturer</asA>
  <iWantTo keyword="I want to">create multiple session at a fix interval</iWantTo>
</narrative>
<scenario keyword="Scenario:" title="Create repeated session">
<step outcome="successful">Given a list of session</step>
<step outcome="successful">When the use select a session with a session id <parameter>2
AND the system prompt to enter number of repeat for the session and the use enter 8</parameter></step>
<step outcome="successful">Then the system create all the session</step>
</scenario>
</story>

]]></script>
</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
